---
import Section from '@/components/Section.astro';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
	<Section>
		<div class="text-sm">
			<p class="pt-6 text-4xl">Imprint</p>

			<p class="pb-4 pt-10 text-lg font-bold">Information according to § 5 TMG:</p>
			<p>Mohammad Sanaye Abbasi</p>
			<!-- <p>Neuburgerstraße 25c</p>
			<p>76287 Rheinstetten</p> -->
			<p>Neatherlands</p>

			<p class="pb-4 pt-10 text-lg font-bold">Contact</p>
			<p>E-Mail: <a href="mailto:mohamad.sanaye462@gmail.com">mohamad.sanaye462@gmail.com</a></p>
			<!-- <p>
				Internet-Adress: <a class="underline" href="https://astro-tech-blog-ten.vercel.app/"
					>https://astro-tech-blog-ten.vercel.app/</a
				>
			</p> -->

			<!-- <p class="pb-4 pt-10 text-lg font-bold">Editorially Responsible</p>
			<p>See Information according to § 5 TMG.</p> -->

			<p class="pb-4 pt-10 text-lg font-bold">Graphics and images</p>
			<p>Unless specified differently, Mohammad Sanaye Abbasi is the creator of all graphics and images.</p>

			
		</div>
	</Section>
</Base>
